#header ul ul {
  display:none;
  position: absolute; top: 100%;
}

#header ul ul li {
		float: none; 
		border-top: 1px solid #6b727c;
		border-bottom: 1px solid #575f6a;
		position: left;
   
 }

#header ul li:hover > ul{
  display:block;
  
  
}




#header {
	position: left;
	top: -10px;
	background-color: #3c4543;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
   text-decoration:none;
}



#navbar {
	position: fixed;
	top:10px;
	left:0%;
	margin-left:2px;
}

ul{
	list-style-type: none;
	position: fixed;
	margin: -10px;
  text-decoration:none; 
}

li {
 background: #1dabb8;
    border-radius: 3px;
    color: #fff;
    float: right;
    font-weight: bold;
    margin-top: 0px;                                  
    padding: 12px 20px;
    box-shadow:3px 3px 3px #888;
    text-decoration: none !important;
 }

li:hover {
  background: #356094;
  border: solid 1px #2A4E77;
  text-decoration: none !important;
}

h1{
  float:left;
  font-size: 20px;
  background: #1dabb8;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    margin-top: 5px;
    padding: 2px 5px;
}

h1:hover {
  hover: background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none
}


h2{
  float:left;
  font-size: 20px;
  background: #1dabb8;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    margin-top: 5px;
    padding: 2px 5px;
    
}





body {
    background: #eaeaea;
    font: 100%/1.5em sans-serif;
    margin: 0;
}

#login_form {
    margin: 100px auto;
    width: 300px;
}

#login_form h2 {
    background-color: #282830;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 14px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}

#login_form input {
    font-size: 14px;
}

#login_form fieldset, #greeting #message, #message_fail {
    background-color: #d6e5f4;
    border-radius: 0 0 5px 5px;
    padding: 20px;
    position: relative;
}

#greeting #message {
    font-weight: bold;
}

#greeting #message_fail {
    font-weight: bold;
    color: red;
}

#greeting #redirect {
    font-style: italic;
    color: black;
    font-size:  80%;
}
#login_form input[type="text"],
#login_form input[type="password"] {
    border: 1px solid #dcdcdc;
    padding: 12px 10px;
    width: 238px;
}

#login_form input[type="text"] {
    border-radius: 3px 3px 0 0;
}

#login_form input[type="text"] {
    border-top: none;
    border-radius: 0px 0px 3px 3px;
}

#login_form input[type="submit"] {
    background: #1dabb8;
    border-radius: 3px;
    color: #fff;
    float: right;
    font-weight: bold;
    margin-top: 20px;
    padding: 12px 20px;
    box-shadow:3px 3px 3px #888;
}


#login_form input[type="submit"]:hover {
background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
  
}

